{% extends "base.html" %}

{% block content %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

<h1>You need to login to see the content of this page</h1>
  <h3>For testing you can use</h3>
  <p>Username: test</p>
  <p>Password: test1234test</p>


<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Login" class="btn btn-primary" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
