html {
    scroll-behavior: smooth;
     font-size: 18px;
}

body {
    margin-top: 20px;
    background: url("https://images.pexels.com/photos/313700/pexels-photo-313700.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    text-decoration: yellow;
}

.sidebar-nav {
    padding: 0;
    list-style: none;
}

.narrow-select {
    width: 550px;

}

.links {
    padding: 3px 0;
}

.btn {
    text-align: left;
    border-radius: 10px;
}
