{%  extends 'base.html' %}

{% block content %}
  <h1>People, which make delicious food
  <a href={% url 'restaurant_service:cook_create' %}>+</a>
  </h1>
  {% if cook_list %}

    {% for cook in cook_list %}
      <li class="sidebar-nav">
      <a href={% url 'restaurant_service:cook_detail' pk=cook.pk %}>{{ cook_list.username }}
        Name: {{ cook.first_name }} {{ cook.last_name }}</a> (Experience: {{ cook.years_of_experience }} years)
      {% if user.id == cook.id %}
        - You
      {% endif %}
      </li>
    {% endfor %}

  {% else %}
    <p>We don`t have any cooks at the current moment</p>
  {% endif %}
{% endblock %}
