{%  extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>People, which make delicious food
  <a class="text-success" href={% url 'restaurant_service:cook_create' %}>+</a>
  </h1>
  <form action="" method="get" class="form-inline">
  {{ search_field|crispy }}
  <input type="submit" value="Submit" class="btn btn-secondary">

  </form>
  <br>
  {% if cook_list %}
  <table class="table table-active table-bordered w-25">
        <tr>
          <th style="width: 300px">Name</th>
          <th>Experience</th>
        </tr>
    {% for cook in cook_list%}
    <tr>
    <td style="padding: 0">
    <a class="text-white btn btn-success text-left btn-block" href={% url 'restaurant_service:cook_detail' pk=cook.pk %}>{{ cook.first_name }} {{ cook.last_name }}
    {% if user.id == cook.id %}
        - You
    {% endif %}
    </a>
    </td>
    <td>
      {{ cook.years_of_experience }} years
    {% endfor %}

  {% else %}
    <p>We don`t have any cooks at the current moment</p>
  {% endif %}
{% endblock %}
