{%  extends 'base.html' %}

{% block content %}
  <h1>Detailed information about {{ dish.name }}</h1>
  <p>Price: {{ dish.price }} $</p>
    <a class="btn btn-success w-25" href={% url 'restaurant_service:dish_create' %}>Create a dish</a>
    <a class="btn btn-info w-25" href={% url 'restaurant_service:dish_update' pk=dish.pk %}>Update the dish</a>
    <a class="btn btn-danger w-25" href={% url 'restaurant_service:dish_delete' pk=dish.pk %}>Delete the dish</a>

  <hr>
  <div class="font-italic">
  {{ dish.description }}

  </div>
  <hr>
  {% if dish.image %}
    <a class="btn btn-success" target="_blank" href={{ dish.image.url }}>Dish photo</a>
    {% else %}
    <p class="text-danger">Current dish does not have a photo</p>
  {% endif %}
{% endblock %}
