{%  extends 'base.html' %}

{% block content %}
  <h1>We have current types of dishes
   <a href={% url 'restaurant_service:dish_type_form' %}>+</a>
  </h1>


  {% if dish_type_list %}
    <table class="table">
        <tr>
          <th>Name</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>

    {% for dish_type in dish_type_list %}
      <tr>
      <td>
         {{ dish_type.name }}
      </td>

      <td>
        <a href={% url 'restaurant_service:dish_type_update' pk=dish_type.pk %}>Update</a>
      </td>

      <td>
        <a href={% url 'restaurant_service:dish_type_delete' pk=dish_type.pk%}>Delete</a>
      </td>

    {% endfor %}


    </tr>
  {% else %}
    <p>We don`t have any dish of the current type</p>
  {% endif %}
{% endblock %}
