{%  extends 'base.html' %}

{% block content %}
  <h1>Detailed information about {{ dish.name }}</h1>
  <p>Price: {{ dish.price }} $</p>
  <a class="text-success" href={% url 'restaurant_service:dish_create' %}>Create a dish</a>
  <br>
  <a class="text-success" href={% url 'restaurant_service:dish_update' pk=dish.pk %}>Update the dish</a>
  <br>
  <a class="text-danger" href={% url 'restaurant_service:dish_delete' pk=dish.pk %}>Delete the dish</a>
  <hr>
  <div>
  {{ dish.description }}
  </div>

{% endblock %}

{#<form action="" method="post">#}
{#  {% csrf_token %}#}
{#  <input type="submit" value="Yes, delete" class="btn btn-danger">#}
{#  </form>#}