{%  extends 'base.html' %}

{% block content %}
  <h1>We have next kinds of {{ dish_type_detail }}</h1>
  {% if dish_type_detail %}
     <table style="width: 390px" class="table table-active table-bordered">
        <tr>
          <th style="width: 290px">Name</th>
          <th>Price</th>
        </tr>
    {% for dish in dish_type_detail.dish_type.all %}
    <tr>
    <td style="padding: 0">
    <a class="text-white btn btn-success text-left btn-block" href={% url 'restaurant_service:dish_detail' pk=dish.pk %}>{{ dish.name }}</a>
    </td>
    <td>
      {{ dish.price }} $
    </td>
    {% endfor %}
    {% endif %}
{% endblock %}
