{% extends 'base.html' %}

{% block content %}
  <h1>Delete dish type {{ dishtype}}</h1>
  <p>Are you sure, that you want to delete the current dish type?</p>
  <p>All dishes of this type will be also deleted! </p>

  <form action="" method="post">
  {% csrf_token %}
  <input type="submit" value="Yes, delete" class="btn btn-danger">
  </form>
  <li style="width: 110px" class="btn btn-success text-center">
    <a class="text-white" href={% url 'restaurant_service:dish_type_list' %}>No</a>
  </li>
{% endblock %}
